header {
  background-color: #4EA24E;
  color: #fff;
  padding: 2em;
}
header h1 {
  margin-bottom: 1rem;
}
header span {
  display: block;
  margin: .3rem 0;
}
.header__scores-wrapper {
  margin-bottom: 1.5rem;
}
.header__description-wrapper {
  font-size: 1.2rem;
}